# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Local Environment Variables
# -> Store sensitive keys here (like API keys). This file is not committed to Git.
.env.local

# Build-related
/.next/
/out/
/build

# Vercel
.vercel

# Mac
.DS_Store

# IDEs
/.vscode/
*.swp
